#vacacionesView_length{
    width: 100px;
  }
  .dt-buttons{
    padding: 15px;
  }
  .modal-header{
    background:  #0d47a1;
    color: white;
 }

 
    .table td,
    .table th {
        padding: 0.45rem !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .dataTables_wrapper .dataTables_paginate {
        font-size: 12px;
        float: rigth;

    }

    .dataTables_wrapper .dataTables_info {
        font-size: 12px;
        float: left;
    }

    .dataTables_wrapper .dataTables_filter {
        text-align: right;
        font-size: 12px;
        margin-top: 10px;
    }

    .dataTables_wrapper .dataTables_length {
        float: left;
        font-size: 12px;
    }

    .dataTables_length {
        margin-right: 8px !important;
        font-size: 12px;
    }

    .dt-buttons {
        position: relative;
        float: left;
        margin: auto;
        text-align: inherit;
        width: inherit;
    }

    .width-exportar {
        width: 87px;
    }

    *.control {
        font-size: 12px;
        height: 30px;
        margin: 0px;
        padding-left: 7px;
        text-transform: uppercase;
    }

    .form-control .control {
        font-size: 12px;
        height: 30px;
        margin: 0px;
        padding-left: 7px;
        text-transform: uppercase;
    }

    .input-wrapper {
        position: relative;
        width: 271px;
    }

    .input {
        box-sizing: border-box;
        color: #191919;
        padding: 5px 5px 5px 5px;
        width: 100%;
    }

    .input.password {
        padding: 15px 35px 15px 15px;
    }

    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    .input-icon.password {
        left: unset;
        right: 12px;
    }

    .input-icono {
        background-image: url('./../../../gui/themes/default/images/calendar2.png');
        background-repeat: no-repeat;
        background-position: 4px center;
        background-size: 20px;
        display: flex;
        align-items: center;
        width: 100px;
        padding-left: 150px;
        height: 34px;
    }

    .input-icono input {
        width: 100%;
        border: none;
    }

    .input-icono input:focus {
        outline: none;
    }


    .btn-light {
        font-size: 12px !important;
        height: 30px;
        margin: 0px;
        padding-left: 7px;
    }

    .dropdown-item.active,
    .dropdown-item:active {
        font-size: 12px;
    }

    .bootstrap-select .dropdown-menu li a span.text {
        font-size: 12px;
    }

    .bs-searchbox .form-control {
        font-size: 12px;
        height: 30px;
        margin: 0px;
        padding-left: 7px;
    }

    .bootstrap-select .dropdown-menu.inner {
        font-size: 12px;
    }

    .btn-light {
        color: rgb(33, 37, 41);
        background-color: #ffffff;
        border: 1px solid #ced4da;
    }

    .bootstrap-select .dropdown-toggle .filter-option {
        text-transform: uppercase;
    }

    .bootstrap-select.disabled,
    .bootstrap-select>.disabled {
        cursor: not-allowed;
        border: 1px solid #ced4da;
        background-color: #e9ecef;
        opacity: 1;
    }

    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: .25em;
        background: initial;
        background-color: #007bff;
        color: #fff;
        font-size: 1em;
    }


    .typeahead {
        width: 348px;
    }


    *.hr.style-one {
        background-color: #007bff;
        border-top: 3px solid #007bff;
        margin: 0px;
    }



    hr.style-one {
        background-color: #007bff !important;
        border-top: 3px solid #007bff !important;
        margin: 0px;
    }


    *.hr.style-four {
        height: 3px;
        border: 0;
        background-color: #eeeeee;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    }

    hr.style-four {
        height: 3px !important;
        border: 0;
        background-color: #eeeeee !important;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5) !important;
    }

    .card_p {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        color: inherit;
        height: 40px;
    }

    .dt-body-right {
        text-align: right;
    }

    .dt-body-center {
        text-align: center;
    }

    table.table-bordered.dataTable tbody th,
    table.table-bordered.dataTable tbody td {
        border-bottom-width: 0;
        text-transform: uppercase;
    }
    textarea{
      font-size: 13px !important;
    }
    .modal-title{
      font-weight: 400 !important;
    }
    .btn-sm{
      max-height: 35px;
    }
    #fechaDesde, #fechaHasta{
      background: white;
    }

    .filter-option-inner-inner{
        font-size: 0.9em !important;
    }
    
    .comentarios_foto{
        width: 18px;
        border-radius: 50%;
    }

    #mermaidDiagram{
        width: 100%;
    }